__pycache__
*-ablation*
ablation-db-*
lightning_logs
*.csv
actual_data
.DS_Store
figures
ablation-db
.DS_Store
tables
results
actual_data/
plots/
logs/
temperature/
projection/
unimodal_projection.log
unimodal_temp.log
qr/
rerun_unimodal_100/